html {
  /*Core color codes------global color codes #224C98 */
  --themeColor: #207ef5; /* #224C98;/*#263c63;/* #1b3d7a;#4285F4*/
  --deepDarkThemeTextColor: #1b1e24; /*#29303d;/*#132545;/*#0e1c36;*/
  --greyTextColor: #5e5d5d;
  --cardBorderColor: #d3d3d3;
  --cardBorderColorLight: #e8e8e8;
  --greenColor1: #65c394;
  --redColor1: #ff726f;
  --chatCommentBkgColor: #e3effe;
  --bodyBkgColor: #f2f2f2;
}

.parentBillingContainer {
  background-color: var(--bodyBkgColor);
  width: 80%;
  height: 100vh;
  display: flex;
  padding: 10px;
}

.leftContainer {
  width: 65%;
  height: 700px;
  background-color: white;
  margin: 10px;
}

.MainHeading {
  margin-top: 10px;
  margin-left: 20px;
}
.topParent {
  display: flex;
  margin-top: 10px;
}
.Lcontainer {
  height: 100px;
  width: 50%;
  background-color: white;
  margin: 10px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.Rcontainer {
  height: 100px;
  width: 50%;
  background-color: white;
  margin: 10px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.paymentTitle {
  margin-top: 20px;
  margin-left: 20px;
}
.navigationBar {
  width: 80%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 20px;
  background-color: var(--cardBorderColorLight);
  border-radius: 15px;
}

.rightContainer {
  margin: 10px;
  width: 35%;
  height: 700px;
}

.title {
  color: var(--deepDarkThemeTextColor);
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 20px;
  font-weight: 400;
}

.featuresContainer {
  margin-top: 20px;
  background-color: white;
  border: 1px solid var(--cardBorderColorLight);
  border-radius: 10px;
}

.f1Container {
  display: flex;
  margin: 10px;
}

.img {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: aliceblue;
  margin-left: 10px;
}

.heading {
  margin-left: 10px;
  font-size: 16px;
  color: var(--deepDarkThemeTextColor);
}

.subHeading {
  font-size: 15px;
  margin-left: 10px;
  color: var(--greyTextColor);
}

.subDetailContainer {
  display: flex;
}

.detailsContainer {
  margin-top: 10px;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid var(--cardBorderColorLight);
}

.fourGrid {
  /* display: grid;
  grid-template-columns: 1fr, 1fr;
  grid-template-rows: auto;
  row-gap: 10px;
  column-gap: 10px; */
  display: flex;
}

.b1 {
  height: 30px;
  width: 80px;
  background-color: blue;
  margin: 10px;
}
.b2 {
  height: 30px;
  width: 80px;
  background-color: blue;
  margin: 10px;
}

.b3 {
  height: 30px;
  width: 80px;
  background-color: blue;
  margin: 10px;
}
.b4 {
  height: 30px;
  width: 80px;
  background-color: blue;
  margin: 10px;
}

.mainCardContainer {
  margin-top: 10px;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid var(--cardBorderColorLight);
}

.cardContainer {
  /* display: grid;
  grid-template-columns: 1fr, 1fr;
  grid-template-rows: auto;
  row-gap: 10px;
  column-gap: 10px; */
  display: flex;
}

.card1 {
  background-color: aquamarine;
  height: 40px;
  width: 100px;
  margin: 10px;
}

.card2 {
  background-color: beige;
  height: 40px;
  width: 100px;
  margin: 10px;
}

.card3 {
  background-color: aqua;
  height: 40px;
  width: 100px;
  margin: 10px;
}

.card4 {
  background-color: blanchedalmond;
  height: 40px;
  width: 100px;
  margin: 10px;
}
